---
import Main from '../layouts/main.astro';
import { groupByTime } from '../utils/group-by-time';
import { groupByExperience } from '../utils/group-by-experience';
import { groupByTechnology } from '../utils/group-by-technology';

import BarChart from '../components/bar-chart.astro';

const response = await fetch(
  `https://kwes.io/api/v1/forms/${import.meta.env.KWESFORMS_FORM_ID}/submissions?mode=production`,
  {
    method: 'GET',
    headers: {
      Accept: 'application/json',
      'Content-Type': 'application/json',
      Authorization: `Bearer ${import.meta.env.KWESFORMS_API_KEY}`,
    },
    redirect: 'follow',
  }
);

const data = await response.json();

const byTime = groupByTime(data);
const byExperience = groupByExperience(data);
const byTechnology = groupByTechnology(data);
---

<Main>
  <p class='mt-0 mb-16 text-center'>Results of the survey so far.</p>
  <h2>Technology</h2>
  <BarChart data={byTechnology} />
  <h2>Experience</h2>
  <BarChart data={byExperience} />
  <h2>Time</h2>
  <BarChart data={byTime} />
</Main>
